
* {
  font-family: roboto, sans-serif;
}



/* Contacts */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: blue;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: lightskyblue;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: lightskyblue;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

}
/* Adjust layout for small screens */
@media (max-width: 767px) {
  .contact-left,
  .contact-right {
    width: 100%;
  }
  .contact-left {
    margin-bottom: 30px;
  }
}

/* Adjust layout for medium and large screens */
@media (min-width: 768px) {
  .contact-left {
    width: 50%;
    float: left;
    margin-right: 50px;
  }
  .contact-right {
    width: 50%;
    float: right;
  }
}



